@import "nullstyle.scss";

html {font-family: 'Nunito', sans-serif; color: black; box-sizing: border-box; }

// <Variables> 
$white:#fff;
$gray: #767e83;
$blue: #38c3c7;
$black-gray: #222222;

$screen-s: 576px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;

$screen-s-max: 767px;
$screen-m-max: 991x;
$screen-l-max: 1199pxx;
// <Variables/>

// <Mixins>
@mixin font($s,$w) {
	font-size: $s;
	font-weight: $w;
}
@mixin flexcenter () {
	display: flex;
	align-items: center;
}
@mixin wrapper() {
	max-width: 1172px;
	margin: 0 auto;
// <Mixins/>

}
.horizontal-line {border-bottom: 1px solid #ebebeb;}

.wrapper {
	margin: 0 auto;
	.navbar {
		padding: 0 1.5rem;
		@include flexcenter();
		@include wrapper();
		justify-content: space-between;
		height: 8vh;
		&__left {
			@include flexcenter();
			.navbar__number {display: flex; .navbar__text {margin-left: 0.4rem;}}
			.navbar__mail {display: flex; margin-left: 4rem; .navbar__text {margin-left: 0.4rem;}}
		}
		&__right {
			@include flexcenter();
			.navbar__lang {margin-right: 1.5rem;}
			.navbar__social { a {color: black;} ul {display: flex; .icon {margin: 0 0.5rem}}}
			.navbar__seo {
			@include font(16, 700); @include flexcenter();
			background-color: $blue;
			height: 50px; width: 180px; margin: 0 2rem;
			justify-content: center; color: $white;
			};
		}
	}
	.header {
		@include wrapper();
		height: 90vh;
		padding: 0 2rem;
		&__nav {
			@include flexcenter();
			margin-top: 0.5rem;
			justify-content: space-between;
			.header__nav-left {
				display: flex;
				align-items: flex-end;
				.header__name {
					@include font(36,900);
					line-height: 26px;
					margin-left: 1rem;
					color: $black-gray;
				}
			}
			.header__nav-right {
				a {color: black;}
				@include flexcenter();
				.header__list {
					@include flexcenter();
					@include font(18, 700);
					margin-right: 3rem;
				}
				ul a:not(:first-child) {
					margin-left: 3rem;
				}
				ul a:hover {color: $blue}
				ul a::after {    
					content: '';
					width: 0;
					height: 2px;
					background-color: #2b2a2c;
					position: absolute;
					bottom: -5px;
					left: 0;
					z-index: 1;
					transition: width .2s linear;}
			}
		}
		&__content {
			@include flexcenter();
			justify-content: space-between;
			.header__welcome {
				margin-right: 2rem;
				.pretittle {
					@include font(16,700);
					color: $blue;
					line-height: 60px;
					letter-spacing: 3.2px;
					text-transform: uppercase;
				}
				.tittle {
					@include font(80,700);
					line-height: 80px;
					margin-bottom: 20px;
					color: $black-gray;
				}
				.subtittle {
					@include font(16, 400);
					line-height: 25px;
					color: $gray;
				}
				.button {
					@include flexcenter();
					button:hover {box-shadow: 0px 0px 10px $gray; transition: 0.4s;}
					button:not(:hover) { transition: 0.8s;}
					button { 
						justify-content: center;
						height: 50px; width: 50px;
						border-radius: 50%;
						background-color: #fb5c71;
					}
					p {@include font(18, 700); line-height: 24px; margin-left: 20px;}
				}
			}
		}
	}
	.about {
		@include wrapper();
		height: 100vh;
		padding: 0 2rem;
		&__outline {
			padding-top: 4rem;
			text-align: center;
			max-width: 900px;
			margin: 0 auto;
			.about__tittle {@include font(44,700); line-height: 50px; margin-bottom: 2rem;}
			.about__subtittle {@include font(16,400); line-height: 28px; color: $gray; margin-bottom: 3.5rem;}
			.about__list {
				@include flexcenter();
				justify-content: space-between;
				.item {@include flexcenter(); @include font(18,400); line-height: 36px;}
				.about-item {color: $blue; margin-right: 0.5rem;}
			}
		}
		&__numbers {
			@include flexcenter();
			max-width: 1035px;
			margin: 3.5rem auto 0 auto;
			justify-content: space-between;
			.about__number-block {
				@include flexcenter(); flex-direction: column;
				.icon {margin-bottom: 0.8rem;}
				.number {@include font(48,700);color: $blue; margin-bottom: 0.8rem;}
				.subtittle {@include font(18,700); color: $black-gray; margin-bottom: 1.5rem;}
			}
		}
	}
	.work {
		@include flexcenter();
		justify-content: space-between;
		max-width: 1150px;
		margin: 0 auto;
		padding: 0 2rem;
		height: 100vh;
		.work-wrapper {
			padding: 0rem 2rem;
			@include flexcenter();
			.work__first-block {
				display: flex;
				flex-direction: column;
				.work__tittle {@include font(44,700); line-height: 21px; color: $black-gray; margin-bottom: 1.3rem;}
				.work__subtittle {@include font(18,400); line-height: 30px; margin-bottom: 1rem; color: $gray;}
			}
			.work__second-block {
				display: grid;
				grid-template-areas: 'a' 'b''c' 'd';
				grid-template-rows: 1fr;
				grid-gap: 3.2rem;
				margin-left: 6rem;
				.item {
					.first {grid-area: a;} .second {grid-area: b;} .third{grid-area: c;} .fourth{grid-area: d;}
					@include flexcenter();
					.text-block {
						margin-left: 2rem;
						.tittle {@include font(22,700); padding-bottom: 1rem;}
						.text{@include font(16,400); color: $gray;}
						display: flex;
						flex-direction: column;
					}
				}
			}
		}
	}
	.benef {
		@include flexcenter();
		height: 100vh;
		background-color: #f3f8f8;
		padding: 0 2rem;
		&__wrapper {
			@include wrapper();
			@include flexcenter();
			.benef__top {
				display: flex;
				flex-direction: column;
				margin-right: 20px;
				.benef__toptittle {@include font(44,700); line-height: 48px; margin-bottom: 1.2rem;}
				.benef__toptext {@include font(18,400); line-height: 28px; margin-bottom: 1.5rem}
				.benef__list {
					display: grid;
					grid-template-areas: 'a' 'b' 'c' 'd';
					grid-template-rows: 1fr;
					grid-gap: 2rem;
					.first {grid-area: a;} .second {grid-area: b;} .third{grid-area: c;} .fourth{grid-area: d;}
					.item {
						@include flexcenter();
						.text-block {
							.tittle {@include font(22,700); margin-bottom: 1rem;}
							.text{@include font(16,400); color: $gray;}
							margin-left: 2rem;
							display: flex;
							flex-direction: column;
						}
					}
				}
			}
			.benef__form {
				justify-content: center;
				form {
					@include flexcenter();
					flex-direction: column;
					height: 550px;
					width: 430px;
					background-color: $white;
					box-shadow: 0 11px 43px rgba(98, 143, 144, 0.15);
					border-radius: 10px;
					padding: 3rem 2rem;
					.tittle {@include font(36,700); line-height: 36px; color: $black-gray; margin-bottom: 2rem;}
					.input {
						margin: 1rem 0;
						box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
						background-color: #f3f8f8;
						border-radius: 5px;
						width: 340px;
						height: 50px;
					}
					.select {
						width: 340px;
						height: 50px;
						border: 2px solid #fb5c71;
						background-color: #fff;
						border-radius: 5px;
						box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
					}
					.button {
						@include font(18,700);
						margin-left: 1rem;
						margin-top: 1.5rem;
						align-self: flex-start;
						width: 180px;
						height: 50px;
						border-radius: 25px;
						background-color: #fb5c71;
						color: #fff;
					}
				}
			}
  		}
	}
	.process {
		@include flexcenter();
		@include wrapper();
		justify-content: center;
		flex-direction: column;
		height: 66vh;
		padding: 0 2rem;
		&__tittle {@include font(44,700); line-height: 21px; margin-bottom: 3rem;}
		&__blocks {
			display: grid;
			grid-template-areas: 
			'tit tit tit'
			'item1 item2 item3';
			grid-gap: 2rem;
			grid-template-rows: 1fr;
			grid-template-areas: 'a b c d';
			.first {grid-area: a;} .second {grid-area: b;} .third{grid-area: c;} .fourth{grid-area: d;}
			.process__item {
				@include flexcenter();
				flex-direction: column;
				justify-content: center;
				box-shadow: 0 11px 43px rgba(98, 143, 144, 0.15);
				width: 200px;
				height: 200px;
				border-radius: 50px;
				.icon {margin-bottom: 1rem;}
				.tittle {@include font(24,700); line-height: 36px; color: $blue; margin-bottom: 1rem;}
				.number {@include font(50,700); line-height: 36px; opacity: 0.5; color:#fb5c71;}
			}
		
	}
	}
	.pricing {
		@include flexcenter();
		@include wrapper();
		flex-direction: column;
		height: 100vh;
		margin-top: 3rem;
		padding: 0 2rem;
		&__tittle {@include font(44,700); line-height: 56px; color: $black-gray;}
		&__time {
			@include flexcenter();
			@include font(24,700); 
			line-height: 56px;
			.pricing__month {margin-right: 3rem;}
			a {color: $black-gray;}
		}
		&__plans {
			 color: $white;
			 font-size: 16px;
			 display: grid;
			 grid-template-columns: 1fr 1fr 1fr;
			 grid-gap: 2rem;
			.pricing__plan {
				border-radius: 10px;
				box-shadow: 0 11px 43px rgba(98, 143, 144, 0.15);
				height: 470px;
				width: 370px;
				z-index: 5;
				.backimg {
					position: absolute;
					z-index: -1;
				}
				.content {
					position: relative;
					z-index: 5;
					padding: 2.5rem;
					.button {
						width:290px;
						height: 50px;
						background-color: $blue; 
						border-radius: 25px;
						@include font(18,700); 
						color:#fff;
					}
					.second {background-color: #fb5c71;}
					.start { 
						margin-bottom: 1.3rem; 
						.uptittle {@include font(26,700); line-height: 26px;}
						.started {margin-top: 5px;}
					}
					.price {
						margin-bottom: 5rem;
						.number{@include font(60,700);} 
						.number::before {content: '$'; font-size: 26px; top: 0; left: 0; font-style: italic;}
					}
					.ticks {
						margin-bottom: 1rem;
						color: $gray;
						.list {
							.item {@include flexcenter(); .icon {color: #fc99a6; margin-right: 0.5rem;}}
							li {margin: 0.5rem 0;}
						}
					}
				}
			}
		}
	}
}
